<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        {% block title-head %}  
        <title>Template Base</title>
        {% endblock title-head %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href={% static "assets/favicon.ico" %} />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static "CSS/styles.css" %} rel="stylesheet" />
        <link href={% static "CSS/styles-nuevos.css" %} rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">

                        <li class="nav-item"><a class="nav-link" href="/productos">Novedades</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url "paletas" %}>Cursos</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url "crear_paletas" %}>Crear Cursos</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url "sobre_mi" %}>Sobre Mí</a></li>

                        {% if request.user.is_authenticated %}
                        {% if request.user.infoextra.avatar %}
                        <a href={% url "mi_perfil" %}><img src={{request.user.infoextra.avatar.url}} alt="" height="40px" ></a>
                        
                        {% endif %}
                        <li class="nav-item"><a class="btn btn-warning"href={% url "mi_perfil" %}>{{request.user.username}}</a></li>
                        <li class="nav-item"><a class="btn btn-secondary"href={% url "logout" %}>Cerrar Sesion</a></li>
                        {% else %}
                        <li class="nav-item"><a class="btn btn-primary"href={% url "login" %}>Iniciar Sesion</a></li>
                        <li class="nav-item"><a class="btn btn-warning"href={% url "registro" %}>Registrarse</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">
                            {% block h1_header %} 
                            Template Base 
                            {% endblock h1_header  %}
                        </h1>
                        <hr class="divider" />
                    </div>
                    
                    <div class="col-lg-8 align-self-baseline">
                        
                        {% block parrafobase %}
                        <p class="text-white-75 mb-5"> 
                           Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached! </p>
                         {% endblock parrafobase %}
                         <a class="btn btn-primary btn-xl" href={% url "paletas" %}>{% block botonprincipal %}Find Out More{% endblock botonprincipal %}</a>
                       
                    </div>
                    
                </div>
            </div>
        </header>

        <main>
         {% block main %}  
         {% endblock main%}
        </main>


        <!-- About-->
        {% block aboutme %}
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">{% block aboutme_h2 %}Sobre Mí{% endblock aboutme_h2 %}</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">{% block aboutme_p %}Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!{% endblock aboutme_p %}</p>
                        
                    </div>
                </div>
            </div>
        </section>  
        {% endblock aboutme %}

            
        </div>



       
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Yasmin Arman Coderhouse</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src={% static "js/scripts.js" %}></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        
    </body>
</html>
