{% extends "inicio/compartidos/base.html" %}

{% block title-head %}  
        <title>Crear Curso</title>
{% endblock title-head %}

{% block h1_header %} 
Ingresa un nuevo curso
{% endblock h1_header  %}


{% block text_header %} {% endblock text_header %}
{% block main %} 
<div class="container px-4 px-lg-5">
  
      
<form action="" method="POST">
    {% csrf_token %}
      <table>
      {{formulario}}
      {{formulario.media}}
      
      </table>
    <input type="submit" class="botonform"  value="crear"/>
</form>

</div>
{% endblock main  %}

  {% block aboutme %} {% endblock aboutme %}