{% extends "inicio/compartidos/base.html" %}

{% block title-head %}  
        <title>Pagina Web Inicio </title>
{% endblock title-head %}

{% block h1_header %} 
Construye un equipo listo para el futuro
 {% endblock h1_header  %}

 {% block parrafobase %}
 <p class="text-white-75 mb-5">Mejora la experiencia de todo tu equipo con procesos óptimos y automatizados que aumentarán su productividad.</p>
 {% endblock parrafobase %}

 {% block botonprincipal %}Ver Todos los cursos{% endblock botonprincipal %}

{% block aboutme_h2 %}{% endblock aboutme_h2 %}
{% block aboutme_p %}{% endblock aboutme_p %}

