{% extends "inicio/compartidos/base.html" %}

{% block title-head %} <title>Editar Perfil</title>{% endblock title-head %}
{% block h1_header %} Editar Perfil {% endblock h1_header  %}
{% block parrafobase %}{% endblock parrafobase %}
{% block botonprincipal %} {% endblock botonprincipal %}
{% block main %}
<section id="miperfil"> 
<form action={% url "editar_perfil" %} method="POST" enctype ="multipart/form-data">
    {% csrf_token %}

<table>
    {{formulario}}
</table>
<input type="submit" value="editar perfil"/>
<a href="{% url "editar_pass" %}"> Cambiar Contraseña </a>
</form>
</section> 
{% endblock main  %}




{% block aboutme %} {% endblock aboutme %}
