{% extends "inicio/compartidos/base.html" %}

{% block title-head %} <title>Login</title>{% endblock title-head %}
{% block h1_header %} Ingresar {% endblock h1_header  %}
{% block parrafobase %}{% endblock parrafobase %}
{% block botonprincipal %} {% endblock botonprincipal %}
{% block main %}
<section id="miperfil"> 
<form action={% url "login" %} method="POST">
    {% csrf_token %}

<table>
    {{formulario}}
</table>
<input type="submit" value="Iniciar Sesion"/>
</form>
</section>
{% endblock main  %}

{% block aboutme %} {% endblock aboutme %}

 