{% extends "inicio/compartidos/base.html" %}


{% block title-head %} <title>Comentarios</title>{% endblock title-head %}
{% block h1_header %} Deja tu Comentario {% endblock h1_header  %}

{% block parrafobase %}{% endblock parrafobase %}
{% block botonprincipal %} Volver a Cursos {% endblock botonprincipal %}


{% block main %}
<div class="mensajes">
    <p>Usuario Logueado |  {{request.user.username}}</p>
    <hr>



{% for comentario in comentarios %}
<ul>
    {% for comentario in comentarios %}
        <li><strong>{{ comentario.autor.username }}</strong> {{ comentario.contenido }}</li>
    {% endfor %}
</ul>

<li>
           
    {% if comentario.user.is_authenticated %}
{% if comentario.user.infoextra.avatar %}
 <img src={{comentario.user.infoextra.avatar.url}} alt="" height="40px" >
 {% endif %}{% endif %} 
 {{ comentario.user.username }} <br/>
 <hr class="lineas">
 {{ comentario.text | safe}}
    <p class="date">
        {{comentario.created_at }}
    </p>
  </li>

    <div class="card-footer">
        <small class="text-muted">{% if comentario.user == user %}
             <a href={% url 'eliminar_comentario' comentario.id %}>Eliminar</a>{% endif %}
        </small> 
      </div>    
     


{% endfor %}
</div>

<div class="mensajes_form">
    
    <h4>Deja tu comentario</h4>
    <form method="post" enctype ="multipart/form-data">
        {% csrf_token %}
        {{ form.text }}
        {{form.media}}<br/><br/>
        <button id="boton-enviar" type="submit">Enviar comentario</button>
    </form>    
</div>



 {% endblock main %}

 {% block aboutme %} {% endblock aboutme %}
