#cursos{

    margin-top: 4rem;
    }
    
    
    a {
        
        text-decoration: none;
    }
    
    main {
      padding: 2rem ;
      margin: 0 auto;
    }
    
    
    .botonform {
      border-radius: 2rem;
      padding: 1rem ;
      background-color: peachpuff ;
      border: none ;
    }
    
    .container-listados{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .card.h-100 {
        width: 31%;
        margin: 0.4rem;
    }