{% extends "inicio/compartidos/base.html" %}

{% block title-head %}  
        <title>Comparte tu Conocimiento</title>
{% endblock title-head %}

{% block h1_header %} 
Ingresa un nuevo curso


 {% endblock h1_header  %}
 {% block parrafobase %}
 <p class="text-white-75 mb-5">  Convierte tu experiencia en cursos en línea y empodera a otros. </p>
 {% endblock parrafobase %}
                        
 <a class="btn btn-primary btn-xl" href={% url "paletas" %}>{% block botonprincipal %}Más Cursos{% endblock botonprincipal %}
 
 {% block main %} 

<div class="formcrear">
<form action={% url "crear_paletas" %} method="POST" enctype ="multipart/form-data">
    {% csrf_token %}

<table>
{{form}}
{{form.media}}
</table>
</br></br>
<input id="boton-enviar" type="submit" value="Crear"/>
</form>

</div>
  {% endblock main  %}

  {% block aboutme %}{% endblock aboutme %}
 {% block details %}{% endblock details %}