{% extends "inicio/compartidos/base.html" %}

{% block title-head %}  
        <title>Comparte tu Conocimiento</title>
{% endblock title-head %}

{% block h1_header %} 
Ingresa un nuevo curso


 {% endblock h1_header  %}
 {% block parrafobase %}
 <p class="text-white-75 mb-5">  Convierte tu experiencia en cursos en línea y empodera a otros. </p>
 {% endblock parrafobase %}
                        
 {% block botonprincipal %}{% endblock botonprincipal%}
 
 {% block main %} 


<form action={% url "crear_paletas" %} method="POST" enctype ="multipart/form-data">
    {% csrf_token %}

<table>
{{form}}
{{form.media}}
</table>
<input type="submit" value="crear"/>
</form>
  {% endblock main  %}

 