{% extends "inicio/compartidos/base.html" %}

{% block title-head %}  
        <title>detalle paleta</title>
{% endblock title-head %}

{% block h1_header %} 
detalles de la paleta con id {{paleta.id}}
 {% endblock h1_header  %}

 {% block main %}
 <ul>
    <li>marca: {{paleta.marca}}</li>
    <li>modelo: {{paleta.modelo}}</li>
    <li>descripcion: {{paleta.descripcion | safe}}</li>
    <li>fecha: {{paleta.fecha}}</li>
    {% if paleta.imagen %}
    <img src={{paleta.imagen.url}} alt="" width="550px" height="auto" >
    {% endif %}
   
    
 </ul>
 
 
 {% endblock main %}
 {% block aboutme %}{% endblock aboutme %}