{% extends "inicio/compartidos/base.html" %}

{% block title-head %}  
        <title>detalle paleta</title>
{% endblock title-head %}

{% block h1_header %} 
Sobre el curso:<br/>
 {{paleta.titulo}}
 {% endblock h1_header  %}


 {% block parrafobase %}
 <p class="text-white-75 mb-5"> 
 {{paleta.detalle}}
 </p>
  {% endblock parrafobase %}
                       
<a class="btn btn-primary btn-xl" href={% url "paletas" %}>{% block botonprincipal %}Más Cursos{% endblock botonprincipal %}




 {% block main %}
 <section id="cursos">  
   <div class="detalles">  
    
    <div class="imagencurso">
        {% if paleta.imagen %}
        <img src={{paleta.imagen.url}} alt="" width="550px" height="auto" >
        {% endif %}
    </div>
    <div class="descripcioncurso">
    <li>Titulo: {{paleta.titulo}}</li>
    <li>{{paleta.detalle}}</li>
    <li>Sobre el curso: {{paleta.descripcion | safe}}</li>
    <li>fecha de inicio: {{paleta.fecha}}</li>
  </div>
  </div>
   

 
</section>  
 {% endblock main %}
 {% block aboutme %}{% endblock aboutme %}