{% extends "inicio/compartidos/base.html" %}

{% block title-head %}  
        <title>Paletas</title>
{% endblock title-head %}

{% block h1_header %} 
paletas
{% endblock h1_header  %}


{% block main %} 

<form action="" >
    {% csrf_token %}
    <input type="text" name="marca" Placeholder ="Imgrese Marca"/>
    <input type="submit" value="Buscar"/>
</form>

{%if listado_paletas %} 
<ul>
    {% for paleta in listado_paletas %}
    
      <li>
        
       <a href={% url "detalle_paletas" paleta.id %}>{{paleta}}</a> 
       || <a href={% url 'editar_paletas' paleta.id %}>Editar paleta</a>
       || <a href={% url 'eliminar_paletas' paleta.id %}>Eliminar paleta</a>
        
      </li>
    {% endfor %}
{% else %}
<p>no se encontraron paletas</p>
{%endif%}
</ul>



{% endblock main  %}

 